component = '.login_page'

{compnent}
  grid-area login
  
{component}-login
  width 150px
  margin 0 5px 0 calc(100% - 380px)

{component}-pass
  width 150px
  margin-right  10px

{component}-sing_in
  width 50px