.menu
  grid-area menu

.title
  grid-area title

.menu li
  display inline-block
  margin-right 5px
  cursor pointer
 
.menu a
  pointer-events none
  text-decoration none
  color black 
  font-weight 700
